<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <form action="">
        <div>
            <h3>Hero Section</h3>
            <input type="checkbox" name="HeroSec" id="">
            <input type="button" value="Edit Section" onclick="window.location = '/herosection';">
        </div>
        <input type="submit">
    </form>
</body>

</html>